/* Global Variables */

:root {
    --menu-width: 50px;
    --menu-hover-width: 250px;
}

body.theme-dark {
    --bg-color: #202020;
    --bg-hover-color: #404040;
    --menu-color: #2a2a2a;
    --menu-hover-color: #404040;
    --text-color: #fff;
    --link-color: #88f;
}

body.theme-light {
    --bg-color: #fff;
    --bg-hover-color: #ddd;
    --menu-color: #fff;
    --menu-hover-color: #ddd;
    --text-color: #000;
    --link-color: #00f;
}



/* General DOM elements settings */

body {
    padding: 0;
    margin: 0;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: 0.3s;
}

input, button, select {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px gray solid;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: 0.3s;
}

option {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: 0.3s;
}

input:hover, button:hover, select:hover, option:hover {
    background-color: var(--bg-hover-color);
    transition: 0.3s;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a {
    color: var(--link-color);
}



/* Top Bar */

#topBar {
    position: sticky;
    height: 50px;
    margin-left: var(--menu-width);
}



/* Various class settings */

.monospace {
    font-family: monospace;
}

.select {
    user-select: none;
    cursor: pointer;
    width: 250px;
    box-sizing: border-box;
}

.select .header {
    border: 1px gray solid;
    border-radius: 2px;
}

.select ul {
    background-color: var(--bg-color);

    width: 250px;
    height: 350px;
    margin: 0;
    border: 1px gray solid;
    padding: 2px;
    
    display: none;
    z-index: 100;

    box-sizing: border-box;
    overflow-y: scroll;
    user-select: none;
    cursor: pointer;
}
.select[active] ul {
    display: block;
    position: absolute;
}

.select li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}
.select li:hover {
    background-color: var(--bg-hover-color);
}
.select li[selected] {
    background-color: #1e90ff;
    color: var(--text-color);
}



/* Main container */

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
}



/* Side menu */

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--menu-width);
    z-index: 150;

    background-color: var(--menu-color);
    box-shadow: 0 0px 5px 10px rgba(0, 0, 0, 0.25);

    transition: 0.3s;
}

#menu:hover {
    width: var(--menu-hover-width);
}

#menu .menuItem {
    width: 100%;
    height: var(--menu-width);
    position: relative;
    box-sizing: border-box;
    border-left-width: 3px;
    border-left-style: solid;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

#menu .menuItem:hover {
    border-left-width: 10px;
}

#menu .menuItem:hover,
#menu .menuItem.active {
    background-color: var(--menu-hover-color);
}

#menu .menuItem .menuItemImage {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-size: 30px;
    background-repeat: no-repeat;
    display: block;
    float: left;
}

body.theme-dark #menu .menuItem .menuItemImage {
    filter: brightness(500%);
}

#menu .menuItem .menuItemText {
    width: 200px;
    height: var(--menu-width);
    font-weight: 100;
    color: var(--text-color);
}

#menu .menuItem span {
    width: 0;
    height: 100%;
    font-weight: 300;

    margin-left: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    line-height: var(--menu-width);
    cursor: inherit;
    user-select: none;

    transition: 0.3s;
}

#menu .menuItem:hover span {
    width: 200px;
}

#menu #menuBottom {
    width: 100%;
    height: min-content;
    position: absolute;
    bottom: 0;
}


#menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;

    margin-left: var(--menu-width);
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

#menu:hover #menuOverlay {
    margin-left: var(--menu-hover-width);
    background-color: rgba(0, 0, 0, 0.25);
}



/* Mode container */

#mainContainer {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-left: var(--menu-width);
    padding: 8px;
    transition: 0.3s;
}

body.menuOpen #mainContainer {
    margin-left: var(--menu-hover-width);
}

.mode {
    width: 100%;
    height: 100%;
    margin: 8px;
    display: none;
}

.mode.active {
    display: block;
}

/* Mode Title */

#screenTitle {
    width: 100%;
    text-align: center;
}



/* Error screens */

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-weight: 100;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.75);

    flex-direction: column;
    justify-content: center;
    display: flex;
}

.screen span {
    text-align: center;
    height: min-content;
    text-shadow: #000 1px 1px, #000 0 0 20px;
    font-size: 35px;
}

#screen_changeVersion #versionSelect {
    height: 40px;
    font-size: 35px;
}

#screen_changeVersion button {
    height: 40px;
    font-size: 35px;
}


/* Tree Editor */

.nbtIcon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.treeBranch {
    list-style-image: none;
}



/* Inventory Editor */

#inventorySlots {
    width: min-content;
    background-color: #000000;

    text-shadow: #000000 2px 2px 2px;

    border: #000000 4px solid;
    border-collapse: separate;
    border-radius: 8px;

    margin: auto;
    
    user-select: none;
}

#inventorySlots table {
    background-color: #c6c6c6;

    border-radius: 8px;
    border-left: #373737 8px solid;
    border-top: #373737 8px solid;
    border-right: #ffffff 8px solid;
    border-bottom: #ffffff 8px solid;
    border-collapse: separate;
    margin: 0;
    padding: 30px;
}

#inventorySlots table tr,
#inventorySlots table td,
#inventorySlots table .slot {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#inventorySlots table .slot {
    display: block;
    width: 72px;
    height: 72px;
    background-color: #8b8b8b;
    background-size: cover;
    image-rendering: pixelated;

    border-left: #373737 4px solid;
    border-top: #373737 4px solid;
    border-right: #ffffff 4px solid;
    border-bottom: #ffffff 4px solid;
    box-sizing: border-box;

    cursor: pointer;
}

#inventorySlots .slot[slotNumber="100"] {
    background-image: url("../img/inv/slot100.png");
}
#inventorySlots .slot[slotNumber="101"] {
    background-image: url("../img/inv/slot101.png");
}
#inventorySlots .slot[slotNumber="102"] {
    background-image: url("../img/inv/slot102.png");
}
#inventorySlots .slot[slotNumber="103"] {
    background-image: url("../img/inv/slot103.png");
}

#inventorySlots .slot.selected {
    border: 4px #e59700 inset;
}

#inventorySlots .slot:hover {
    background-color: #ccc;
}

#inventorySlots .item {
    width: 100%;
    height: 100%;
    background-size: cover;
    image-rendering: pixelated;
}


#itemDetails_id .icon {
    width: 1em;
    height: 1em;
    background-size: cover;
    image-rendering: pixelated;
    display: inline-block;
    margin-right: 5px;
}